* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Noto Sans SC';
    font-size: 15px;
}

a {
  text-decoration: none
}


h1, h2, h3, h4, p {
  color: #33475B;
}



.learnmore a {
  text-decoration: none;
  color:black;
}

.container-blue {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-image: linear-gradient(-90deg, #00BCA5, #00A4BC);
}


.container {
  width: 1200px;
  margin: 0 auto;
  background: #F4F9FD;
}

.header-logo {
  margin-left: 40px;
  margin-top: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  line-height: 20px;
  border: 1px solid orange;
  text-decoration: none;
  color: orange;
}





.w-50{
  width: 50%;
}

.w-33{
  width: calc(100%/3);
}

.w-25 {
  width: 25%;
}

.header-nav {
  height: 80px;
  font-size: 80%;
  line-height: 80px;
  background: white;
}

.header-nav a {
  text-decoration: none;
  color: #33475B;
}

.header-nav .header-logo,
.header-nav .header-nav-center,
.header-nav .header-nav-right {
  float: left;
}

.margintop {
  margin-top: 30px;
}

.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline-block;
  padding: 0 10px;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
  float: right;
}

.btn-orange {
  background-color:#FE775A;
  border: 0;
  margin-left: 10px;
}

.btn-grey {
  background-color:#DADEE0;
  border: 0;
  margin-left: 40px;
  line-height: 5px;
  color: #32495B;
}

.btn-large {
    padding: 20px;
    width: 150px;
}
.btn-large2 {
    padding: 15px;
}

.jumbomargin {
  margin-left: 20px;
}

.free {
  margin-top: 30px;
}

#whitetext {
  color:white;
}

#blacktext {
  color: #33475B;
}

.jumbotron {
  position: relative;
  height: 530px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-nav-center {
  background-color: #F4F9FD;
  height:200%;
}

.backgroundhub {
  background-color: #0b3259;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: center;
}

.ciaone {
    border-bottom: 1px solid #33475B;
}

.separator {
  background-color: #AFEBE4;
  height: 100px;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

.info-box-full {
  padding-bottom: 50px;
}

.info-box-full .col-sx {
  width: 30%;
}

.info-box-full .col-dx {
  width: 70%;
}

.col-dx {

}

#integration {
  position: relative;
  margin-top: 50px;
  margin-left: 430px;
  height: 30%;
  width:30%;
}

#integration2 {
  position: relative;
  margin-top: 50px;
  height: 30%;
  width:30%;
}

#CRM-img {
  position: relative;
  margin-top: 50px;
  margin-left:   -200px;
  height: 150%;
  width:150%;
}



.title-integration {
  text-align: center;
}

.box {
  background-color: white;
  margin-left: 200px;
  width: 800px;
  height: 300px;
  padding-left: 300px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
}

.vertical-box {
  background-color: white;
  width: 250px;
  height: 600px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
  margin-left: 110px;
}

.text-col-dx {
  padding-top: 80px;
}

.learnmore {
margin-left: 50px;
margin-top: 20%;
color: #33475B;
}

.features {
  text-align: left;
  margin-left: 20px;
  list-style: none;
  color: #33475B;
}

#clients {
  width: 1000px;
  margin: 0 auto;
}

#clients .col-sx {
  width: 40%;
}

#clients .col-dx {
  width: 60%;
}

.bluetitlebox {
  height: 120px;
  width: 1200px;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.iconspos {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 30px;
  position: relative;
  text-align: center;
}

.clientsbox {
  padding-top: 30px;
  height: 100px;
  width: 200px;
}

.clientsboxtitle {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 20px;
  width: 200px;
}

.logos {
  max-width: 20%;
  padding: 10px;
}

.logos-top {
  max-width: 20%;
  padding: 10px;
  margin-top: 30px;
}

#start {
  background-color: white;
}

.contents {
  padding-top: 80px;
  font-size: 20px;
}

.contents p {
  padding-top: 40px;
  font-size: 15px;
}
.woman {
  display: block;
  max-width: 60%;
  position: relative;
  margin-left: 200px;
  margin-bottom: 50px;
}

#container-footer {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  background-color: #32495B;
}

.footer-list {
  text-decoration: none;
  list-style: none;
}
.footer-list h3 {
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 50px;
}

.footer-list li {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.lang-menu {
  margin-left: 25%;
  margin-top: 50px;
}


.lang-list {
  text-decoration: none;
  list-style: none;
  padding-left: 90px;
  padding-bottom: 15px;
}

.law {
  text-align:right;
  padding-right: 40px;
  padding-top: 40px;
}

.logo-footer {
  padding-top: 40px;
  padding-left: 40px;
}

.footer-copy {
  padding-left: 40px;
}
